@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root{
  --main-text-color:hsl(22, 18%, 35%);
}


body {
  font-family: Roboto, sans-serif;
  margin: 10px 10px 10px 10px;
}

h1 {
  text-align: center;
}

.header{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--main-text-color);
  filter: brightness(60%);

}

.bold { 
  font-size: 35px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--main-text-color);
  filter: brightness(60%);

}
.mugshot { 
  border-radius: 50%;
  padding: 35px 0;
  padding-left: 25px;
  padding-right: 25px;
  width: 150px;
  height: 150px;

  margin-right: 20px;
  
}

.mcgill {
  color: var(--main-text-color);
  filter: opacity(70%);
  font-size: 20px;
  display: flex;
  padding-left: 10px;
  margin-top: 20px;
  border-color: var(--main-text-color);
  border-style: solid;
  border-bottom: 0;
  border-top: 0;
  border-right: 0;
}

.cope {
  width: 100px;
  transition: width 0.4s ease;
  transform-origin: center;
  display: block;
  margin-left: auto; 
  margin-right: auto;  
  padding-top: 1000px;
}
.cope:hover {
  width: 150px;
  filter: brightness(50%);
}
.culture {
  width: 400px;
}

.center-text {
  display: flex;
  flex-direction: column;
}

.chatbubble {
  background-color: rgb(252, 243, 232);
  border-radius: 15px;
  display: flex;
}
.chat {
  max-width: 1100px;
  font-size: 25px;
  font-weight: 400;
  display: flex;
  text-align: left;
  color: var(--main-text-color);
}

.center-text {
  font-size: 25px;
  text-align: center;
  padding-top: 40px;
}

/* a:link {
  text-decoration: none;
}

a:visited {
  color: var(--main-text-color);
}

a:hover {
  background-color: rgb(153, 124, 107);
  text-decoration: dotted;
  color: rgb(255, 250, 242);
}
a {
  background-color: antiquewhite;
  transition: 0.3s ease;
  padding: 8px 8px 8px 8px;
  border-radius: 15px;
  color: var(--main-text-color);
} */

.textbox {
  font-size: 28px;
  width: 100px;
  margin-bottom: 10px;
  border-radius: 10px;
  border-color: rgb(134, 96, 96);
  background-color: rgb(255, 254, 253);
}

/* .question { 
  font-size: 25px;
  text-align: center;
  padding-top: 40px;
  overflow: hidden;
  animation: reveal 4s ease; 
  animation-delay: 0s;
} */

.logo { 
  width: 30px;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.logo:hover {
  filter:opacity(70%);
}

.contact {
  display: flex;
  background-color:  rgb(252, 243, 232);
  border-radius: 15px;
  margin-top: 10px;
  padding-left: 25px;
}

/* @keyframes reveal {
    0% {opacity:0;}
    50% {opacity:0;}
    100% {opacity:1;}
} */

